.hero {
    h1 {
        // font-size: 66px;
        font-size: 2.8125rem;
        font-size: clamp(2.8125rem, 2.3661rem + 1.4286vw, 3.4375rem);
        line-height: 1.05;
        br {
            display: none;
            @media (min-width:992px) {
                display: inline;
            }
        }
    }
    .container-xl .row{
        border-bottom: 1px solid var(--col-primary-400);
    }
    &--front {
        background-color: var(--col-primary-400);
        .container-xl .row {
            border-bottom: none;
        }
        h1 {
            color: var(--col-black);
            font-size: 5.5rem;
            font-weight: 900;
            border-bottom: 1px solid var(--col-black);
        }
        .hero__content {
            color: var(--col-white);
            font-size: 2.625rem;
        }
    }
}